{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
<h1>Réinitialisation du mot de passe</h1>

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{{ form_start(form, { action: path('app_reset_password', { token: token }) }) }}
    <div>
        {{ form_label(form.password) }}
        {{ form_widget(form.password) }}
        {{ form_errors(form.password) }} {# Affiche les erreurs pour le champ password #}
    </div>

    <div>
        {{ form_label(form.confirmPassword) }}
        {{ form_widget(form.confirmPassword) }}
        {{ form_errors(form.confirmPassword) }} {# Affiche les erreurs pour confirmPassword #}
    </div>

    <button type="submit">Réinitialiser</button>
{{ form_end(form) }}

{% endblock %}
